<h1><%= @post.title %></h1>

<p><%= @post.description %></p>

<h2>Comments</h2>
<% if !@post.comments.any? %>
  <i>No comments..</i>
<% end %>
<div id="post-comments">
  <%= render @post.comments %>
</div>

<h3>Add a comment</h3>
<%= render "comments/form" %>

<%= link_to "Edit Post", edit_post_path(@post) if user_signed_in? && (can? :update, @post) %>
<%= link_to "Delete Post", post_path, :confirm => "Are you sure you want to delete post?",
            :method => :delete, :remote=>true if user_signed_in? && (can? :destroy, @post) %>
